*{
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: sans-serif;
    background-color: rgb(255, 255, 255);
}
h1{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 40px;
    font-size: 50px;
}
h2{
    text-align: center;
    font-size: 30px;
    font-weight:  bold;
}
span{
    color:white;
    background-color: #B60000;
    border-radius: 20px;
    padding: 4px;
    box-shadow:
    0 0 0.1em red,
    0 0 0.2em red,
    0 0 0.3em red;
    text-shadow:
    0 0 0.1em red,
    0 0 0.2em red,
    0 0 0.3em red;
}
nav ul{
    text-align: center;
    list-style-type: none;
    font-weight: bold;
    margin-bottom: 40px;
    text-decoration: none;
}
nav ul li{
    display: inline;
    margin-right: 3em;
    cursor: pointer;
    font-size: 18px;
    text-decoration: none;
}
a{
    color: black;
    text-decoration: none;
}
a:hover{
    color: grey;
    
}
section{
    margin: 30px;
}
.divs{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 25px;
    grid-template-areas: 
    "div-1 div-2 div-3"
    "div-1 div-2 div-3"
    ;
    margin-left: 40px;
    margin-right: 40px;
}
.div-1{
    grid-area: div-1;
    /* height: 250px; */
    background-color: #c3c3c3;
    border-radius: 20px;
    text-align: center;
    /* background-image: repeating-linear-gradient( */
        /* rgb(214, 214, 214) 0% 0.25%, */
        /* white 0.25% 7% */
        /* ); */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    height: 500px;
}
.div-1 h3{
    margin-top: 20px;
    text-align: left;
    padding-left: 60px;
    font-weight: bold;
    font-size: 20px;
}
.div-2{
    grid-area: div-2;
    /* height: 225px; */
    background-color: #c3c3c3;
    border-radius: 20px;
    text-align: center;
    /* background-image: repeating-linear-gradient( */
        /* rgb(214, 214, 214) 0% 0.25%, */
        /* white 0.25% 7% */
        /* ); */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    height: 500px;
}
.div-2 h3{
    margin-top: 20px;
    font-weight: bold;
    font-size: 20px;

}
.div-3{
    grid-area: div-3;
    /* height: 225px; */
    background-color: #c3c3c3;
    border-radius: 20px;
    text-align: center;
    /* background-image: repeating-linear-gradient( */
        /* rgb(214, 214, 214) 0% 0.25%, */
        /* white 0.25% 7% */
        /* ); */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    height: 500px;
}
.div-3 h3{
    margin-top: 20px;
    text-align: right;
    padding-right: 60px;
    font-weight: bold;
    font-size: 20px;
}
.note-tekst{
    text-align: left;
    padding-left: 30px;
}